server:
  port: 8080

spring:
  application:
    name: biometrictest
  datasource:
    url: jdbc:h2:file:./data/biometrictest;DB_CLOSE_ON_EXIT=FALSE;AUTO_RECONNECT=TRUE
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    cache: false

zkteco:
  ip: 192.168.1.127
  port: 4370
  password: ""   # optional, leave empty if no comm key set on device
  machine-number: 1

